<!doctype html>
<html lang='en'>

<head>
    <title>Mars</title>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class='card bg-dark mb-3 text-white' style='background:linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0)); color: snow;'>
        <img src='{{ mars.featured_image_url }}' class='card-img-top' alt=''>
        <div class='card-body'>
            <h1 class='display-3 text-primary'>Mission to Mars</h1>
            <p><a class='btn btn-primary btn-lg' href="http://127.0.0.1:5000/scrape" role='button'>Scrape New Data</a></p>
        </div>
    </div>

    <div class='container-fluid'>
        <div class='row row-cols-2'>
            <div class='card border-0'>
                <div class='card-body'>
                    <h1 class='text-light bg-dark text-center' style='background:linear-gradient(rgb(71, 3, 3), rgb(148, 9, 9),rgb(173, 32, 32)); color: snow;'>Latest Mars News</h1>
                    <p class='card-text'><b>{{ mars.news_title }}</b></p>
                    <p class='card-text'>{{ mars.news_paragraph }}</p>
                </div>
            </div>
            <div class='card border-0'>
                <div class='card-body'>
                    <h1 class='text-light bg-dark text-center' style='background:linear-gradient(rgb(71, 3, 3), rgb(148, 9, 9),rgb(173, 32, 32)); color: snow;'>Current Weather on Mars</h1>
                    <p class='card-text'>{{ mars.mars_weather }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class='col-md-4'></div>

    <div class='col-md-12 col-med-offset-2 mt-4'>
        <h1 class='text-light bg-dark text-center' style='background:linear-gradient(rgb(71, 3, 3), rgb(148, 9, 9),rgb(173, 32, 32)); color: snow;'>Mars Facts</h1>
        <table id='tablefacts' class='table table-borderless table-striped text-center'>
            <thead class='thead-dark'>
            <tbody class='thead-dark' {{ mars.mars_facts | safe }}>
        </table>
    </div>

    <div class='row mt-10'>
        <div class='col-md-12 text-center'>
            <h1 class='text-light bg-dark text-center' style='background:linear-gradient(rgb(71, 3, 3), rgb(148, 9, 9),rgb(173, 32, 32)); color: snow;'>Mars Hemispheres</h1>
        </div>
    </div>

    <div class='container-fluid'>
        {% for hemisphere in mars.mars_hemisphere %}
        <div class='text-center'>
            <figure class='figure'>
                <img class='figure-img img-fluid rounded' src='{{ hemisphere.image_url }}'>
                <figcaption class='figure-caption text-center' style='background:linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0)); color: snow;'><h1>{{ hemisphere.title }}</h4></figcaption>
            </figure>
        </div>    
        {% endfor %}
    </div>

    <footer class='WebFooter'>
        <div class='footer-copyright text-center py-3' style='background:linear-gradient(rgb(15, 17, 19), rgb(6, 16, 24),rgb(0, 5, 8)); color: snow;'><h1>Copyright &copy; Coding Bootcamp Odin Del Toro 2020</h1></div>
    </footer>
</body>

</html>